# Python
__pycache__/
*.pyc
*.sqlite3
*.log
*.pkl
*.zip
*.rar

# VSCode / PyCharm
.vscode/
.idea/

# Env
.venv/
env/
venv/

# Jupyter
.ipynb_checkpoints/

# Mac system files
.DS_Store

# MyPy cache
.mypy_cache/
